/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

#hero {
  background-size: cover;
}
#hero h1 {
  font-size: 30px;
  font-size: 50px;
  color: rgb(31, 29, 29);
}
#hero button {
  height: 8vh;
  width: 30%;
  margin-top: 100px;
  margin-left: 110px;
  background-color: black;
  color: white;
}
#hero button:hover {
  background-color: white;
  color: black;
}
#hero #dog {
  margin-top: 180px;
}
#hero #med {
  height: 120vh;
  width: 100%;
}
#hero #arrow {
  position: absolute;
  left: 45%;
  top: 88%;
  size: 20%;
}
#hero #arrow img {
  width: 60%;
}
#hero .navba {
  height: 10vh;
  display: flex;
  width: 100%;
  padding: 0px 150px;
  justify-content: space-between;
  margin-right: 10%;
  padding-top: 20px;
}
#hero .navba ul .links {
  justify-content: center;
}
#hero .navba ul .links li {
  text-decoration: none;
  margin: 0 10px;
  font-size: 15px;
  font-family: got;
}
#hero .navba ul .links li a {
  color: white;
  text-decoration: none;
  position: relative;
}
#hero .navba h3 {
  font-size: 20px;
  color: #1783e7;
  padding-left: 5%;
  font-family: papy;
}
#hero .hr {
  border-bottom: 1px solid white;
  margin-top: 5px;
}
#hero .icons {
  position: absolute;
  display: flex;
  margin-left: 95%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -60px;
}
#hero .icons img {
  height: 30px;
  width: 30px;
  margin: 15px 0;
}

.button {
  margin-top: 20px;
  border: 5px;
  background-color: #179be7;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.button button:hover {
  background-color: white;
  color: black;
}
.button a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-family: got;
}

.last {
  display: none;
}

.top {
  margin-top: 15px;
  width: 100%;
}

.one {
  text-align: center;
  padding: 70px 15px;
}
.one h2 {
  margin-bottom: 50px;
}

#itenaries {
  margin-top: -60px;
}
#itenaries #title {
  font-size: 30px;
  font-family: got;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 100px;
}
#itenaries .card-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#itenaries .card {
  position: relative;
  width: 290px;
  height: 400px;
  font-family: got;
  font-weight: normal;
}
#itenaries .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#itenaries .overlay2 h3 {
  text-align: center;
  font-style: italic;
  font-family: got;
  font-weight: 700;
  font-size: 15px;
  color: white;
  padding-bottom: 10px;
  bottom: 0;
  margin-top: 120%;
}
#itenaries .overlay2 p {
  font-family: got;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  color: white;
  bottom: 0;
}
#itenaries .overlay2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.358);
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#itenaries .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 135, 250, 0.973);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  color: white;
}
#itenaries ul {
  list-style-type: circle;
  margin: 20px;
  font-family: got;
  font-weight: normal;
}
#itenaries .overlay h2 {
  font-family: got;
  font-weight: bold;
  text-align: left;
  font-size: 15px;
  margin-left: 20px;
  padding-top: 20px;
}
#itenaries .overlay p {
  margin: 20px;
}
#itenaries .overlay h4 {
  font-size: 20px;
  font-family: bold;
  margin-left: 10px;
}
#itenaries .card:hover .overlay {
  height: 100%;
}
#itenaries .overlay h5 {
  font-family: light;
  font-size: 15px;
}
#itenaries span {
  margin-left: 120px;
}
#itenaries #top {
  display: flex;
}
#itenaries #heart {
  width: 50px;
  height: 50px;
  top: 0;
  margin-left: 80px;
}
#itenaries .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery {
  text-align: center;
  padding: 70px 0;
}
.gallery h2 {
  font-size: 20px;
  margin-bottom: 40px;
  font-family: got;
  font-weight: bold;
}
.gallery .two {
  width: 100%;
}
.gallery .three {
  width: 100%;
}
.gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-bottom: 10px;
}

footer {
  height: 60vh;
  background-color: #1789e7;
  color: white;
  padding: 30px 0;
  text-align: center;
}
footer .container {
  height: 30vh;
}
footer .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container .row h3 {
  margin-bottom: 10px;
  font-size: 20px;
  padding: 20px;
  font-family: got;
  font-weight: bold;
}
footer .container .row li {
  font-size: 16px;
  font-family: got;
  font-weight: normal;
}
footer .container .row form .in {
  padding: 7px;
  border: 1px solid white;
  outline: 0;
  position: relative;
  margin-top: 16px;
  font-style: italic;
  font-family: got;
}
footer .container .row form .btn {
  background-color: black;
  padding: 6px;
  color: white;
  outline: 0;
  position: absolute;
  margin-top: -35.6px;
  height: 5.5vh;
  font-size: 16px;
  font-style: italic;
  font-family: got;
}
footer .container .row .footer-items {
  margin: 10px;
}
footer .container .row .footer-items ul li {
  padding: 5px 0px;
}
footer .container .row hr {
  color: white;
}
footer .container .row .copyright {
  text-align: center;
  padding-top: -20px;
}
footer .container .row .copyright p {
  margin-top: -10px;
}/*# sourceMappingURL=style.css.map */